* {
  margin: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(36, 36, 36);
}

.App {
  display: flex;
  flex-direction: row;
}

.header {
  min-height: 4rem;
  background: rgb(242, 223, 83);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather-item {
  margin: 0.6rem;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 15rem;
  height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  color: rgb(228, 228, 228);
}

form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 35px;
  width: 85%;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.35rem;
}

form input {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 0.35rem;
  padding: 10px;
  width: 50%;
}

.location {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  margin: 15px 0;
  padding: 10px 0;
  border-radius: 0.35rem;
  background-color: rgb(121, 121, 121);
  width: 30%;
  cursor: pointer;
}

.weather-comp {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10rem;
  border-radius: 0.35rem;
  background-color: rgb(121, 121, 121);
  color: #fff;
  padding: 10px 0;
}

.navbar {
  background-color: rgb(224, 224, 224);
  height: 100%;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  color: rgb(36, 45, 217);
}
